extends ../main/base

block variables
	-let title = 'Main'

block content
	.main 
		.main__slider 
			.main__slider--inner 
				.main__slider--navs 
					.main__slider--nav
						img(src="/images/arrow.svg", alt="")
					.main__slider--nav.main__slider--nav_reverse
						img(src="/images/arrow.svg", alt="")
				.main__slider--container 
					.main__slider--item 
						img(src="/images/s1.png", alt="")
					.main__slider--item 
						img(src="/images/s2.png", alt="")
					.main__slider--item 
						img(src="/images/s3.png", alt="")
	.arrivals 
		.arrivals__headline NEW ARRIVALS
		.arrivals__container 
			.arrivals__item 
				.arrivals__item--photo 
					img(src="/images/a1.png", alt="")
				.arrivals__item--name Pastel summer dress
				.arrivals__item--price 1200 UAH
				.arrivals__item--info 
					.arrivals__item--text Size:
					.arrivals__item--value XS
					.arrivals__item--value S
					.arrivals__item--value  M
					.arrivals__item--article #535728
				.arrivals__item--add 
					.arrivals__item--addcart ADD TO CART
					.arrivals__item--like 
						img(src="/images/likecart.svg", alt="")
			.arrivals__item 
				.arrivals__item--photo 
					img(src="/images/a2.png", alt="")
				.arrivals__item--name leather shoes
				.arrivals__item--price 1200 UAH
				.arrivals__item--info 
					.arrivals__item--text Size:
					.arrivals__item--value XS
					.arrivals__item--value S
					.arrivals__item--value  M
					.arrivals__item--article #535728
				.arrivals__item--add 
					.arrivals__item--addcart ADD TO CART
					.arrivals__item--like 
						img(src="/images/likecart.svg", alt="")
			.arrivals__item 
				.arrivals__item--photo 
					img(src="/images/a3.png", alt="")
				.arrivals__item--name grey trench
				.arrivals__item--price 1200 UAH
				.arrivals__item--info 
					.arrivals__item--text Size:
					.arrivals__item--value XS
					.arrivals__item--value S
					.arrivals__item--value  M
					.arrivals__item--article #535728
				.arrivals__item--add 
					.arrivals__item--addcart ADD TO CART
					.arrivals__item--like 
						img(src="/images/likecart.svg", alt="")
			.arrivals__item 
				.arrivals__item--photo 
					img(src="/images/a4.png", alt="")
				.arrivals__item--name Minimal accessorie
				.arrivals__item--price 1200 UAH
				.arrivals__item--info 
					.arrivals__item--text Size:
					.arrivals__item--value XS
					.arrivals__item--value S
					.arrivals__item--value  M
					.arrivals__item--article #535728
				.arrivals__item--add 
					.arrivals__item--addcart ADD TO CART
					.arrivals__item--like 
						img(src="/images/likecart.svg", alt="")
