.arrivals 
	padding: 0 10px
	&__ 
		&container 
			flex-direction: column
		&item 
			width: 100%
			margin-right:  0
			margin-bottom:  20px
			&:last-child 
				margin-bottom:  0
			&-- 
				&photo 
					img 
						object-fit: contain
