.main 
	@include flex(column,flex-start,center,nowrap)
	width: 100%
	height: calc(100vh - 120px)
	margin-top:  155px
	&__ 
		&slider 
			@include flex(column,flex-start,center,nowrap)
			width: 100%
			position: relative
			&-- 
				&navs 
					@include flex(row,space-between,center,nowrap)
					width: 100%
					height:  70px
					position: absolute
					top:  50%
					left:  0
					transform: translateY(-50%)
					z-index: 10
				&nav 
					@include flex(row,center,center,nowrap)
					cursor: pointer
					width: 70px 
					height:  70px
					background: black
					user-select: none

					&_reverse 
						img 
							transform: rotate(180deg)
				&item 
					@include flex(row,center,center,nowrap)
					display: inline-flex
					width: 100%
					height:  100%
					user-select: none
					img 
						width: 100%
						height:  100%
						object-fit: cover
				&inner 
					position: absolute
					width: 100%
					height:  calc(100vh - 120px)
					left:  0
					top:  0
					overflow: hidden

				&container 
					width: 100%
					height:  100%
					white-space: nowrap 
					font-size:  0 
					transition: all .5s
.arrivals 
	@include flex(column,flex-start,center,nowrap)
	width: 100%
	margin-top:  80px
	padding: 0 55px
	margin-bottom: 80px
	&__ 
		&item 
			@include flex(column,flex-start,flex-start,nowrap)
			width: calc(25% - 23px)
			margin-right: 30px 
			height: 580px
			&:nth-child(4n)
				margin-right:  0
			&-- 
				&like 
					@include flex(row,center,center,nowrap)
					border-left: 2px solid #e2e2e2
					width: 50px
					height: 100% 
					cursor: pointer
					position: relative
					overflow: hidden
					img 
						width: 15px
						height:  15px
						object-fit: contain
					&::after
						content: ''
						position: absolute
						left:  0
						top:  0
						width: 100%
						height:  100%
						background: rgba(grey,0.2)
						transition: all .4s
						z-index: -1
						transform: translateY(-100%)
					&:hover::after 
						transform: translateY(0)
						transition: all .4s
				&addcart 
					@include flex(row,center,center,nowrap)
					width: calc(100% - 50px)
					color: #000000;
					font-family: Gotham Pro;
					font-size: 12px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 700;
					line-height: 16px;
					position: relative
					height:  100%
					cursor: pointer
					overflow: hidden
					transition: all .4s
					&::after
						content: ''
						position: absolute
						left:  0
						top:  0
						width: 100%
						height:  100%
						background: black
						transition: all .4s
						z-index: -1
						transform: translateY(100%)
					&:hover::after 
						transform: translateY(0)
						transition: all .4s
					&:hover 
						color: white
						transition: all .4s
				&add 
					@include flex(row,flex-start,center,nowrap)
					width: 100%
					height:  50px
					border: 2px solid #e2e2e2;
					margin-top:  15px
				&article 
					margin-left: auto
					color: #9b9b9b;
					font-family: Gotham Pro;
					font-size: 12px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 400;
					line-height: 16px;
				&value 
					color: #000000;
					font-family: Gotham Pro;
					font-size: 12px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 500;
					line-height: 16px;
					margin-right:  10px
					&:last-child 
						margin-right:  0
				&text 
					color: #000000;
					font-family: Gotham Pro;
					font-size: 12px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 500;
					line-height: 16px;
					margin-right: 30px
				&info 
					@include flex(row,flex-start,center,nowrap)
					width: 100%
					margin-top:  10px
				&price 
					color: #af9146;
					font-family: Gotham Pro;
					font-size: 12px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 700;
					line-height: 16px;
				&name 
					color: #000000;
					font-family: Gotham Pro;
					text-transform: uppercase
					margin-top:  35px
					font-size: 14px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 700;
					line-height: 19px;
				&photo 
					width: 100%
					height:  400px 
					img 
						width: 100%
						height: 100%
						object-fit: cover
		&container 
			@include flex(row,flex-start,flex-start,wrap)
			width: 100%
			max-width: 1180px
		&headline 
			color: #000000;
			font-family: Gotham Pro;
			font-size: 22px;
			font-style: normal;
			font-stretch: normal;
			font-weight: 700;
			line-height: 29px;
			margin-bottom: 35px

@media screen and (max-width: 1900px)
	@import '_1280.sass'

@media screen and (max-width: 1280px)
	@import '_1024.sass'

@media screen and (max-width: 1024px)
	@import '_768.sass'

@media screen and (max-width: 768px)
	@import '_320.sass'
