.nav 
	&__ 
		&cart 
			max-width: 100%
			&-- 
				&top 
					margin-bottom:  20px
					padding-bottom:  20px
				&total 
					margin-top:  20px
					padding-top:  20px
		&top 
			&-- 
				&links 
					margin-right:  10px
				&link 
					margin-left:  15px	
				&search 
					max-width: 100px
				&actions 
					margin-left:  auto
		&bottom 
			&-- 
				&links 
					display: none