.nav 
	@include flex(column,flex-start,center,nowrap)
	width: 100%
	padding: 0 60px
	padding-top: 15px
	position: fixed
	top: 0
	left:  0
	z-index: 20
	background: white
	&__ 
		&cart 
			@include flex(column,flex-start,flex-start,nowrap)
			width: 100%
			max-width: 355px 
			padding: 30px
			background: white
			position: fixed
			top:  0
			right:  0
			transform: translateX(100%)
			opacity: 0
			transition: all .4s
			&.active 
				transition: all .4s
				opacity: 1
				transform: translateX(0)
			&-- 
				&action 
					@include flex(row,center,center,nowrap)
					width: 100%
					height:  50px
					color: black;
					cursor: pointer
					text-transform: uppercase
					border: 1px solid black
					font-family: Gotham Pro;
					font-size: 12px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 700;
					line-height: 16px;
					position: relative
					overflow: hidden
					transition: all .4s
					&:hover 
						color: white 
						transition: all .4s
					&::after 
						content: ''
						position: absolute
						top:  0
						left:  0
						width: 100%
						z-index: -1
						height:  100%
						transform: translateY(100%)
						transition: all .4s
						background: black
					&:hover::after 
						transform: translateY(0)
						transition: all .4s
				&total 
					@include flex(row,space-between,center,nowrap)
					width: 100%
					padding-top:  30px
					margin-top:  30px
					margin-bottom:  20px
					border-top: 2px solid #e2e2e2;
				&price 
					color: #af9146;
					font-family: Gotham Pro;
					font-size: 14px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 700;
					line-height: 19px;
				&value 
					@include flex(row,center,center,nowrap)
					color: #000000;
					text-align: center
					height:  100%
					font-family: Gotham Pro;
					font-size: 12px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 800;
					line-height: 16px;
					border: none 
					outline: none 
					appearance: none
					width: calc(100% - 40px)
				&dec,&inc 
					@include flex(row,center,center,nowrap)
					cursor: pointer
					color: #9b9b9b;
					font-family: Gotham Pro;
					font-size: 12px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 500;
					line-height: 16px;
					height: 100%
					width: 20px
				&counter 
					@include flex(row,flex-start,flex-start,nowrap)
					width: 70px
					height: 30px
					border: 2px solid #e2e2e2;
				&values 
					@include flex(row,space-between,flex-end,nowrap)
					width: 100%
				&size 
					color: #000000;
					font-family: Gotham Pro;
					font-size: 12px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 500;
					line-height: 16px;
					margin-bottom: 25px 
					margin-top:  15px
				&name 
					text-transform: uppercase
					color: #000000;
					font-family: Gotham Pro;
					font-size: 14px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 700;
					line-height: 21px;
				&info 
					@include flex(column,flex-start,flex-start,nowrap)
					width: calc(100% - 100px)
				&photo 
					width: 70px 
					height:  110px
					margin-right:  30px
					img 
						width: 100%
						height:  100%
						object-fit: cover
				&item 
					@include flex(row,flex-start,stretch,nowrap)
					width: 100%
					min-height: 110px
					margin-bottom:  30px
					&:last-child 
						margin-bottom:  0
				&list 
					@include flex(column,flex-start,flex-start,nowrap)
					width: 100%
					max-height: 320px
					overflow-y: scroll
					min-height: 200px
				&close 
					margin-left:  auto
					cursor: pointer
				&text
					color: #000000;
					font-family: Gotham Pro;
					font-size: 14px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 700;
					line-height: 19px;
				&top 
					@include flex(row,flex-start,flex-start,nowrap)
					width: 100%
					padding-bottom:  40px
					border-bottom:  2px solid #e2e2e2;
					margin-bottom: 60px
		&bottom 
			@include flex(row,flex-start,center,nowrap)
			width: 100%
			margin-top: 35px
			&-- 
				&lang 
					color: #000000;
					font-family: Gotham Pro;
					font-size: 12px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 500;
					line-height: 16px;
					margin-right:  35px
					opacity: .5
					cursor: pointer
					transition: all .4s
					&:hover 
						opacity: 1
					&:last-child 
						margin-right:  0
					&.active 
						opacity: 1
				&langs 
					@include flex(row,flex-start,center,nowrap)
					margin-left:  auto
					
				&link
					color: #000000;
					font-family: Gotham Pro;
					font-size: 12px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 700;
					line-height: 16px;
					position: relative
					margin-right:  65px
					&:last-child 
						margin-right:  0
					&::after 
						content: ''
						position: absolute
						height: 2px 
						background: black 
						left:  0
						width: 0 
						bottom: -5px 
						transition: all .4s
					&:hover::after 
						width: 100%
						transition: all .4s
					&_special 
						color: #af9146
						&::after 
							background: #af9146
				&links 
					@include flex(row,flex-start,center,nowrap)
					margin-left: 80px
				&logo 
					width: 150px
					height:  50px
					img 
						width: 100%
						height:  100%
						object-fit: contain
		&top 
			@include flex(row,flex-start,center,nowrap)
			width: 100%
			&-- 
				&counter 
					@include flex(row,center,center,nowrap)
					position: absolute
					left: 100%
					top:  -10px
					width: 14px;
					height: 14px;
					background: #000000;
					color: #ffffff;
					font-family: Gotham Pro;
					font-size: 8px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 500;
					line-height: 1
					border-radius: 50%
				&cart 
					@include flex(row,center,center,nowrap)
					cursor: pointer
					width: 18px
					height:  18px
					margin-left:  20px
					margin-right: 15px
					position: relative
					img 
						width: 100%
						height:  100%
						object-fit: contain
				&actions
					@include flex(row,flex-start,center,nowrap)
					margin-left:  95px
				&like 
					@include flex(row,center,center,nowrap)
					cursor: pointer
					width: 16px
					height:  16px
					img 
						width: 100%
						height:  100%
						object-fit: contain
				&link
					color: #000000;
					font-family: Gotham Pro;
					font-size: 12px;
					font-style: normal;
					font-stretch: normal;
					font-weight: 500;
					line-height: 16px;
					margin-left:  30px
					transition: all .4s
					position: relative
					&::after 
						content: ''
						position: absolute
						height: 1px 
						background: black 
						left:  0
						width: 0 
						bottom: -5px 
						transition: all .4s
					&:hover::after 
						width: 100%
						transition: all .4s
				&links 
					@include flex(row,flex-start,center,nowrap)
					margin-left:  auto
				&action 
					@include flex(row,center,center,nowrap)
					cursor: pointer
					width: 13px
					height:  13px
					img 
						width: 100%
						height:  100%
						object-fit: contain
				&search 
					@include flex(row,flex-start,center,nowrap)
					width: 100%
					max-width: 180px 
					input 
						@include flex(row,flex-start,flex-start,nowrap)
						border: none 
						outline: none
						width: 100%
						box-shadow: none
						color: #9b9b9b
						font-family: Gotham Pro
						font-size: 12px
						font-style: normal
						font-stretch: normal
						font-weight: 400
						line-height: 16px

@media screen and (max-width: 1900px)
	@import '_1280.sass'

@media screen and (max-width: 1280px)
	@import '_1024.sass'

@media screen and (max-width: 1024px)
	@import '_768.sass'

@media screen and (max-width: 768px)
	@import '_320.sass'
