.nav 
	.nav__top 
		.nav__top--search 
			input(type="text",placeholder='Search')
			.nav__top--action 
				img(src="/images/search.svg", alt="")
		.nav__top--links 
			a(href="#").nav__top--link Login
			a(href="#").nav__top--link Register
		.nav__top--actions 
			.nav__top--like 
				img(src="/images/like.svg", alt="")
			.nav__top--cart
				img(src="/images/cart.svg", alt="")
				.nav__top--counter 0
	.nav__bottom 
		a(href="/").nav__bottom--logo 
			img(src="/images/logo.svg", alt="")
		.nav__bottom--links 
			a(href="#").nav__bottom--link CATALOG
			a(href="#").nav__bottom--link.nav__bottom--link_special NEW YEAR
			a(href="#").nav__bottom--link SALE
			a(href="#").nav__bottom--link ABOUT
			a(href="#").nav__bottom--link BLOG
			a(href="#").nav__bottom--link CONTACT
		.nav__bottom--langs 
			.nav__bottom--lang.active EN
			.nav__bottom--lang UA
	.nav__cart 
		.nav__cart--top 
			.nav__cart--text Моя корзина  
			.nav__cart--close 
				img(src="/images/close.svg", alt="")
		.nav__cart--list 
		.nav__cart--total 
			.nav__cart--text Total
			.nav__cart--price 0 UAH
		.nav__cart--action proceed checkout






