include ../config/config
include ../mixins/index
include ../functions/index

block variables

doctype html
html(lang=lang)
	head
		include ../includes/base/head
	body
		include ../includes/base/nav
		block content